body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-text {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header-top {
    display: flex;
    margin: 16px 100px;
    justify-content: space-between;
    padding-top: 14px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
}

.header-bottom {
    display: flex;
    margin: 100px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 48px;
}

.hero-two {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: #F9FAF8;
    background: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border-color: #3882F6;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.info-images {
    display: flex;

}

.pics {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.champtext {
    text-align: center;
    color: #1f2937;
    font-size: 16px;
    padding-top: 5px;
}

.champs img {
    border: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 100px;

}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.sig {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    color: #FFFFFF;
    margin: 70px 100px;
    border-radius: 10px;
    padding: 30px 60px;
    justify-content: center;
}

.forget {
    font-size: 36px;
    margin: 0;
}

.sign-up-details {
    font-size: 20px;
}

.second {
    background: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border-color: #FFFFFF;
    width: 100px;
    height: 40px;
    
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}

.signbutton {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 30px;
}